<div class="section-wrapper">
    <section class="section projects" id="projects">
        <div class="full-width">
            <div class="section-heading" id="featured-projects-text">Atuações</div>
            
                <div class="project-technologies">

                    <a id="concluidos" class="semi-transparent-button with-border white-button" onclick="selected('concluidos')">Projetos Concluídos</a>
                    <a id="desenvolvimento" class="semi-transparent-button with-border white-button" onclick="selected('desenvolvimento')">Projetos em Desenvolvimento</a>
                    <a id="naoImplementadas" class="semi-transparent-button with-border white-button" onclick="selected('naoImplementadas')">Ideias não implementadas</a>
                    <a id="proxEstudos" class="semi-transparent-button with-border white-button" onclick="selected('proxEstudos')">Próximos Estudos</a>
                    <a id="certificacoes" class="semi-transparent-button with-border white-button" onclick="selected('certificacoes')">Certificações</a>

                </div>

            <div class="projects-wrapper">
            <!-- filled in by js -->
            </div>
        </div>
    </section>
</div>