<div class="section-wrapper">
    <section class="section skills" id="skills">
        <div>
            <div class="section-heading" id="skills-text">Habilidades</div>

            <div class="skills-grid">
                <div class="what-i-do">
                    <h3 class="center-align skills-subsection">Sumário</h3>
                    <p class="paragraph-text center-align">
                        <br>
                        Proficiência em MVC e DDD para arquitetura de
                        software, e domínio em MySQL e PostgreSQL para gestão de bancos de dados.
                        <br><br><br><br><br><br>
                        Expertise em JAVA, PHP e PYTHON, além de familiaridade com C++.
                        <br><br><br><br><br>
                        Ampla experiência com JOOMLA, Spring Boot, Spring, Bootstrap e Hibernate, com um
                        nível de proficiência excepcional no framework LARAVEL. Também possuo conhecimento em FLUTTER
                        para desenvolvimento multiplataforma.
                        <br><br>
                        Com esta combinação de competências, estou pronto para enfrentar desafios complexos e entregar
                        projetos de alta qualidade.
                    </p>
                </div>
                <div class="skills">
                    <h3 class="center-align skills-subsection">Padrões de Linguagens</h3>
                    <div class="progress-bars">
                        <div class="skillbar clearfix " data-percent="90%">
                            <div class="skillbar-title" style="background: #2980b9;"><span>MVC</span></div>
                            <div class="skillbar-bar" style="background: #3498db;"></div>
                        </div>
                        <div class="skillbar clearfix " data-percent="70%">
                            <div class="skillbar-title" style="background: #2980b9;"><span>DDD</span></div>
                            <div class="skillbar-bar" style="background: #3498db;"></div>
                        </div>
                        <h3 class="center-align skills-subsection">Banco de Dados</h3>
                        <div class="skillbar clearfix " data-percent="80%">
                            <div class="skillbar-title" style="background: #2980b9;"><span>MySQL</span></div>
                            <div class="skillbar-bar" style="background: #3498db;"></div>
                        </div>
                        <div class="skillbar clearfix " data-percent="70%">
                            <div class="skillbar-title" style="background: #2980b9;"><span>PostgreSQL</span></div>
                            <div class="skillbar-bar" style="background: #3498db;"></div>
                        </div>

                        <div class="technical-skills">
                            <h3 class="center-align skills-subsection">Linguagens</h3>
                            <div class="progress-bars">
                                <div class="skillbar clearfix " data-percent="90%">
                                    <div class="skillbar-title" style="background: #2980b9;"><span>JAVA</span></div>
                                    <div class="skillbar-bar" style="background: #3498db;"></div>
                                </div>
                                <div class="skillbar clearfix " data-percent="80%">
                                    <div class="skillbar-title" style="background: #2980b9;"><span>PHP</span></div>
                                    <div class="skillbar-bar" style="background: #3498db;"></div>
                                </div>
                                <div class="skillbar clearfix " data-percent="80%">
                                    <div class="skillbar-title" style="background: #2980b9;"><span>PYTHON</span></div>
                                    <div class="skillbar-bar" style="background: #3498db"></div>
                                </div>
                                <div class="skillbar clearfix " data-percent="45%">
                                    <div class="skillbar-title" style="background: #2980b9;"><span>C++</span></div>
                                    <div class="skillbar-bar" style="background: #3498db"></div>
                                </div>
                                <div class="technical-skills">

                                    <h3 class="center-align skills-subsection">FRAMEWORKS</h3>
                                    <div class="progress-bars">
                                        <div class="skillbar clearfix " data-percent="90%">
                                            <div class="skillbar-title" style="background: #2980b9;"><span>JOOMLA</span>
                                            </div>
                                            <div class="skillbar-bar" style="background: #3498db;"></div>
                                        </div>
                                        <div class="skillbar clearfix " data-percent="90%">
                                            <div class="skillbar-title" style="background: #db3434;">
                                                <span>LARAVEL</span>
                                            </div>
                                            <div class="skillbar-bar" style="background: #e72727;"></div>
                                        </div>
                                        <div class="skillbar clearfix " data-percent="80%">
                                            <div class="skillbar-title" style="background: #2980b9;">
                                                <span>SPRINGBOOT</span>
                                            </div>
                                            <div class="skillbar-bar" style="background: #3498db"></div>
                                        </div>
                                        <div class="skillbar clearfix " data-percent="80%">
                                            <div class="skillbar-title" style="background: #2980b9;"><span>SPRING</span>
                                            </div>
                                            <div class="skillbar-bar" style="background: #3498db"></div>
                                        </div>
                                        <div class="skillbar clearfix " data-percent="45%">
                                            <div class="skillbar-title" style="background: #2980b9;">
                                                <span>FLUTTER</span>
                                            </div>
                                            <div class="skillbar-bar" style="background: #3498db"></div>
                                        </div>
                                        <div class="skillbar clearfix " data-percent="70%">
                                            <div class="skillbar-title" style="background: #2980b9;">
                                                <span>BOOTSTRAP</span>
                                            </div>
                                            <div class="skillbar-bar" style="background: #3498db"></div>
                                        </div>
                                        <div class="skillbar clearfix " data-percent="45%">
                                            <div class="skillbar-title" style="background: #2980b9;">
                                                <span>HIBERNATE</span>
                                            </div>
                                            <div class="skillbar-bar" style="background: #3498db"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
    </section>
</div>